<div class="bg">
  <div id="footer" class="container section">
    <!-- Cloud
  Run FeatureLab in a secure cloud
   -->
  <div class="row">
    <div class="col s6 m4 l3">
      <p><a href="<%- root %>">Home</a></p>
      <p><a href="<%- root %> #why">Why FeatureLab?</a></p>
      <p><a href="<%- root %>#features">Product Features</a></p>
      <p><a href="<%- root %>how-it-works">How it works</a></p>
      <p><a href="<%- root %>solution-engineering">Solution Engineering</a></p>
      </div>
      <div class="col s6 m4 l3">
        <p><a href="<%- root %>industry">Industries</a></p>
        <% for(var i in public.industry._data){ %>
          <p class="footer-indent"><a href="<%-root%>industry/<%- i %>"><%- public.industry._data[i].name %></a></p>
        <% }; %>            
      </div>
      <div class="col s12 m4 l6">
      <h5>About FeatureLab</h5>
      <p>FeatureLab empowers companies to get the most out of their data by building tools that are enjoyable to use and deliver results. We help companies achieve their data goals by combining advanced technologies with a focus on providing business value.</p>
      <p></p>
    </div>
  </div>

  <div class="row">
    
  </div>
    
  </div>
</div>