<html>
  <head>
    <% var root = (environment == "production") ? "/v2/" : "/" %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="<%-root%>img/favicon.ico" type="image/x-icon" />

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500,300' rel='stylesheet' type='text/css'>
      
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="<%-root%>css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>





     

  </head>
  <body>
    <%- partial("_navbar", {"root": root}) %>
    
    <!-- If the current page is industry/ but not blog/index.ejs… -->
    <% if(current.path[0] == "industry" && current.source !== 'index') { %>
      <!-- Render the partial blog/_nest -->
      <%- partial(current.path[0] + "/_nest", {"root": root}) %>
    <% } else { %>
    <!-- Otherwise, render the yield -->
        <%- yield %>
    <% } %>
    <%- partial("_footer", {"root": root}) %>
  </body>
</html>