<html>
  <head>
    <% var root = (environment == "production") ? "/v2/" : "/" %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>FeatureLab</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
    <link rel="shortcut icon" href="<%-root%>img/favicon.ico" type="image/x-icon" />

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500,300' rel='stylesheet' type='text/css'>
      
    <!-- Compiled and minified CSS -->
    <!-- <link href="css/contact.css" rel='stylesheet' type='text/css' /> -->
    <link rel="stylesheet" href="<%-root%>css/slippry.css">
    <link rel="stylesheet" href="<%-root%>css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="<%-root%>js/slippry.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>


    <script type="text/javascript">
    !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
    analytics.load("44ZzHD5fEM7nC60YbzXbKRDR25jrSuvg");
    analytics.page()
    }}();

     $(document).ready(function(){
      $('.parallax').parallax();
      $('.image-slider').slippry({controls:false, useCSS:true,pause:2500})
      Materialize.showStaggeredList('#services')
    });

    </script>







     

  </head>
  <body>
    <%- partial("_navbar", {"root": root}) %>
    
    <!-- If the current page is industry/ but not blog/index.ejs… -->
    <% if(current.path[0] == "industry" && current.source !== 'index') { %>
      <!-- Render the partial blog/_nest -->
      <%- partial(current.path[0] + "/_nest", {"root": root}) %>
    <% } else { %>
    <!-- Otherwise, render the yield -->
        <%- yield %>
    <% } %>
    <%- partial("_footer", {"root": root}) %>
  </body>
</html>