<div class="bg">
    <div class="container section">
      <!-- <div class="row">
        <div class="col s12">
          <h2>Industries</h2>
        </div>
      </div> -->
      <div class="row">
        <a href="<%- root %>industry">Industries</a> > <%= public.industry._data[current.source].name %>
      </div>
      <div class="row">
        <div class="col s12"> <h3 class="main-header center-align">Data Science for <%= public.industry._data[current.source].name %></h3></div>
        <div class="col s12  l10 offset-l1 m8 offset-m2 ">

          <%- yield %> 

          <p>FeatureLab's unique approach enables domain experts to do more with the data they have. With FeatureLab, it is straight-forward to discover the variables that impact your business, as well as understand the impact of each variable. Never before has it been so easy for the people with questions to use data to find the answers.</p>
        </div>
      </div>             
    </div>
</div>

<%- partial("../_contact") %>
