<% var root = (environment == "production") ? "/" : "/" %>


<div style="height:auto" class="bg no-bg parallax-container">
	<div class="parallax">
		<img style="height:700px" class="gplay-bg blue-bg"/>
	</div>

    <div class="container section">
    	<div class="row">
    		<div class="col s12 l6 ">
    			<h3 class="main-header">Do more with your data,
				without more data scientists</h3>

				<h5 class="sub-header">
					FeatureLab is the best solution for companies looking to increase their data science resources.
				</h5>

				<div class="request-demo-header">
					<a href="<%- root %>contact" class="waves-effect waves-light btn green-bg">Request a demo </a>
					<a href="<%- root %>how-it-works" class="waves-effect waves-light btn green-bg">How it works </a>
				</div>
    		</div>

    		<div class="col s12 l6">
    			<div class="video">
	    			<div class="video-container">
	    				<iframe src="https://player.vimeo.com/video/137993208?badge=0&byline=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

	    				<!-- 
	    				<iframe src="https://www.youtube.com/embed/0asEB-l7mUQ" frameborder="0" allowfullscreen></iframe> -->
	    			</div>
	    		</div>
    		</div>
    	</div>
    </div>
</div>


<div class="bg">
    <div id="screenshot-section" class="container section">
		<div class="row">
			<div class="col s12">
				<div class="section-header center-align">Insights with an Interface</div>
			</div>
		</div>

		<div class="row">
			<div class="col s12">
				<ul class="image-slider">
					<% for(var f=1; f < 7; f++){ %>
							 <li>
						        <a><img src="<%- root %>img/screenshots/<%- f -%>.jpg"></a>
						      </li>

		            <% }; %>  

			    </ul>
			</div>
		</div>   
    </div>
</div>

<div class="bg">
    <div id="features-section" class="container section">
    	<a class="anchor" id="features"></a>
    	<!-- Cloud
		
		 -->
		<div class="row">
			<div class="col s12">
				<div class="section-header center-align">Why FeatureLab?</div>
    		</div>
		</div>
    	<div  class="row feature-container">
    		<h4 class="center-align thin-font">Intelligent</h4>
    		<% for(var f in public._data.intelligent){ %>
					<div class="col s12 m6">
		    			<div class="feature-icon"><img src="<%- root %><%- public._data.intelligent[f].icon %>"  /></div>
		    			<div class="feature-text">
			    			<div class="feature-header"><%- public._data.intelligent[f].header %></div>
			    			<div class="feature-body"><%- public._data.intelligent[f].body %></div>
		    			</div>
		    		</div>

            <% }; %>  
    	</div>

    	<div  class="row feature-container">
            <h4 class="center-align thin-font">Flexible</h4>
    		<% for(var f in public._data.flexible){ %>
					<div class="col s12 m6">
		    			<div class="feature-icon"><img src="<%- root %><%- public._data.flexible[f].icon %>"  /></div>
		    			<div class="feature-text">
			    			<div class="feature-header"><%- public._data.flexible[f].header %></div>
			    			<div class="feature-body"><%- public._data.flexible[f].body %></div>
		    			</div>
		    		</div>

            <% }; %>  
    	</div>

    	<div  class="row feature-container">
            <h4 class="center-align thin-font">Insightful</h4>
    		<% for(var f in public._data.insights){ %>
					<div class="col s12 m6">
		    			<div class="feature-icon"><img src="<%- root %><%- public._data.insights[f].icon %>"  /></div>
		    			<div class="feature-text">
			    			<div class="feature-header"><%- public._data.insights[f].header %></div>
			    			<div class="feature-body"><%- public._data.insights[f].body %></div>
		    			</div>
		    		</div>

            <% }; %>  
    	</div>
    </div>
</div>


<!-- flexible:
simeple integration
effortless scaling
on-premise or cloud installation
data import from many sources

Intelligent:
smart transformations
expert knowledge (maybe change this to something like "customization" or "custom models" because users can utilize their expert knowledge?)
high fidelity models
hands-off prediction ("automatic modeling"? "one-click modeling"?)

Insight:
prediction export (I feel like this one has two different descriptions going?)
Actionable insight
For all users (maybe instead of data science is fun again) -->




<div class="bg">
    <div id="screenshot-section" class="container section">
		<div class="row">
			<div class="col s12">
				<div class="section-header center-align">Stay in touch</div>
			</div>
			<div class="col s12 center-align">
				<a href="http://eepurl.com/bC4eaX" class="waves-effect waves-light btn green-bg">Sign up for newsletter</a>
			</div>
		</div>
    </div>
</div>


<div class="bg">
    <div id="why-section" class="container section">
		<a class="anchor" id="why"></a>
		<div class="row">
			<div class="col s12">
				<div class="section-header center-align">Add FeatureLab to Your Team</div>
    		</div>
		</div>

		<div class="row">
			<div class="col s12 m6">
				<div class="light-blue-bg card-panel why-container">
					<div class="why-icon why-icon-left"><img src="<%- root %>img/business2.png"  /></div>
					<div class="why-header"> Business Specialist</div>
					<div class="why-text">Whether you are a CEO or Product Manager, data insights can help you do your job. With FeatureLab you can:</div>

					<div class="why-bullets">
						<ul>
							<li>find insights without assistance</li>
							<li>build machine learning models with one click</li>
							<li>improve models with domain expertise</li>
						</ul>	
					</div>
				</div>
    		</div>

    		<div class="col s12 m6">
				<div class="why-container light-blue-bg card-panel">
					<div class="why-icon why-icon-right"><img src="<%- root %>img/data_scientist2.png"  /></div>
					<div class="why-header">Data Scientist</div>
					<div class="why-text">You understand the data and the techniques to analyze it, but time is your most valuable resource. FeatureLab enables you to:</div>
					<div class="why-bullets">
						<ul>
							<li>avoid repetitive tasks</li>
							<li>iterate effectively with recommendations</li>
							<li>only write custom code when necessary</li>
						</ul>	
					</div>
				</div>
    		</div>
		</div>
    	
    </div>
</div>







<%- partial("_industries") %>

