<% var root = (environment == "production") ? "/" : "/" %>

<div class="bg gplay-bg">
    <div class="container section">
    	<!-- <div class="row">
    		<div class="col s12">
    			<h2>Industries</h2>
    		</div>
    	</div> -->
    	<div class="row">
    		<div class="col s12 center-align"> <h3 class="main-header">There is valuable data in every Industry</h3></div>
    	</div>
    </div>
</div>

<div class="bg">
    <div class="container section">
    	<!-- <div class="row">
    		<div class="col s12">
    			<h2>Industries</h2>
    		</div>
    	</div> -->
    	<div class="row">
    		<div class="col s12 offset-m1 m10">
    			<div class="sub-header">
    				<h5 class="thin-font">Data science expertise is the standard for any company to be competitive.</h5>
					<p>FeatureLab provides the best cross-domain tools for any company to gain competitive advantages in their field of business. See how FeatureLab can help your company turn data into value.</p>
				</div>
    		</div>
    	</div>
    </div>
</div>




<div class="bg ">
    <div id="industries-section" class="container section">
    	<a class="anchor" id="industries"></a>
		 <div class="row">
			<div class="col s12">
				<div class="section-header center-align">Industries</div>
    		</div>
		</div>
		<div class="row industries-container">
			<% for(var i in public.industry._data){ %>
				<div class="col s12 m6 l4">
					<a href="<%-root%>industry/<%- i %>" >
						<div class="industry-container">
							<div class="industry-header"><%- public.industry._data[i].name %></div>
							<!-- <div class="industry-more" > <a href="/industry/<%- i %>">Read more</a> </div> -->
							<div class="industry-icon">
								<img src="<%- root %><%- public.industry._data[i].icon %>"  />
							</div>
						</div>
					</a>
	    		</div>

            <% }; %>  
			
    		
		</div>
	</div>
</div>

